.radio-check-icon-container {
  width: 16px;
  height: 16px;
  border: 1px solid #646464;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  &.checked {
    border: 3px solid white;
    outline: 1px solid #234c6a;
    background-color: #234c6a;
  }
  &.disabled {
    border-color: #c4c4c4;
  }
}
