.radio-group-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  :global(.MuiFormGroup-root) {
    gap: 6px;
    :global(.MuiFormControlLabel-root) {
      width: fit-content;
      margin-right: 0;
      margin-left: 0;
      :global(.MuiButtonBase-root) {
        padding: 0 8px 0 0;
        :global(.MuiTouchRipple-root) {
          display: none;
        }
      }
    }
  }
}
